@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:ital,wght@0,600;1,700&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
html{
font-size: 20px;
font-family: 'Montserrat', sans-serif;
}
a{
text-decoration: none;
}
.container{
min-height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

img {
height:100%;
width:100%;
object-fit: cover;
}

p {
color: black;
text-align: left;
font-size: 1.4rem;
line-height: 1.9rem;


}

.section-title{
font-size: 4rem;
font-weight: 300;
color: black;
margin-bottom: 10px;
text-transform: uppercase;
letter-spacing: 0rem;
text-align: center;

}

.cta{
display: inline-block;
padding: 10px 30px;
color: deepskyblue;
background-color: transparent;
border: 2px solid darkblue;
font-size: 2rem;
text-transform: uppercase;
letter-spacing: .1rem;
margin-top: 36px;
transition: 1.5s ease;
transition-property: background-color, color;
                          
}
.cta:hover {
color: white;
background-color: blue;
}

.brand h1{
font-size: 3rem;
text-transform: uppercase;
color: white;
}


/*Hero section*/
#hero{
background: url(./img/background.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100vh;
width: 100vh;
position: relative;
z-index: 1;
}
#hero::after{
position:absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: .7;
z-index: -1;

}
#hero h1{
display: block;
width: fit-content;
font-size: 4rem;
position: relative;
color: transparent;
animation: text_reveal 0.5s ease forwards;
animation-delay: 1.5s;
}
#hero .hero{
max-width: 1200px;
margin: 0 auto;
padding: 0 50px;
justify-content: flex-start;
}

#hero h1:nth-child(1){
animation-delay: 1s;
}

#hero h1:nth-child(2){
animation-delay: 2s;
}

#hero h1:nth-child(3){
animation-delay: 3s;
}

#hero h1 span{
position: absolute;
top:0;
left:0;
height: 100%;
width: 0;
background-color: deepskyblue;
animation: text_reveal_box 1s ease;
animation-delay: 0.3s;
}

#hero h1:nth-child(1) span{
animation-delay: 0.5s;
}

#hero h1:nth-child(2) span{
animation-delay: 1.5s;
}

#hero h1:nth-child(3) span{
animation-delay: 2.5s;
}

@media screen and (max-width: 770px){
    #hero{
        flex-basis: 100%;
        background-position: cover;
        background-size: cover;
        height: 100vh;
        
    }

    .hero-container{
        flex-basis: 100%;
        background-size: cover;
        background-position: cover;
    }

    #hero h1{
        flex-basis: 100%;
        font-size: 2.5rem;
    }

    #hero img{
        flex-basis: 100%;
        background-position: cover;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
}


/*End Hero Section*/

/*Services Section*/

#services .services{
flex-direction: column;
text-align: center;
max-width: 500px;
margin: auto;
padding: 100px 0;
}



#services .service-top p{
font-size: 1.4rem;
margin-top: 5px;
line-height: 2.5rem;
font-weight: 300;
letter-spacing: .05rem;
text-align: center;
}

#services .service-bottom{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin-top: 50px;
}

#services .service-item{
flex-basis:48%;
display:flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
padding: 30px;
border-radius: 10px;
background-image: url(./img/blue\ background.png);
background-size: cover;
margin:10px 5%;
position: relative;
z-index: 1;
overflow: hidden;

}

#services .service-item::after{
content: '';
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background: black;
opacity: 0.4;
z-index: -1;
}

#services .service-bottom .icon{
height: 80px;
width: 80px;
margin-bottom: 20px;

}

#services .service-bottom .icon img{
height:100%;
width:100%;
object-fit: cover;
}

#services .service-item h2{
font-size: 2rem;
color: white;
margin-bottom: 10px;
text-transform: uppercase;
}

#services .service-item p{
color: black;
text-align: left;
font-size: 1.4rem;
line-height: 1.9rem
}

/*Services Section*/

/*Projects Section*/
 #projects .projects {
flex-direction: column;
max-width: 1200px;
margin:0 auto;
padding: 100px 0;

}

#projects .projects-header h1{
margin-bottom: 50px;
}

#projects .all-projects{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

#projects .projects-item{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 80%;
margin: 20px auto;
overflow: hidden;
border-radius: 10px;

}

#projects .projects-info{
padding: 30px;
flex-basis: 50%;
background-color: blue;
height: 100%;
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
color: white;

}

#projects .projects-info h1{
font-size: 2rem;
font-weight: 100;

}

#projects .projects-info h2{
font-size: 1.8rem;
font-weight: 300;
margin-top: 10px;
}

#projects .projects-info p{
color: white;

}

#projects .projects-img{
flex-basis: 50%;
height: 300px;
overflow: hidden;
position: relative;
}

#projects .projects-img:after{
content: '';
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
opacity: 0.7;
}

#projects .projects-img img{
transition: 0.3s ease transform;

}

#projects .projects-item:hover .projects-img img{
transform: scale(1.1);

}


/*End of Projects Section*/

/*About Section*/
#about .about{
flex-direction: column;
text-align:center;
max-width: 500px;
margin: auto;
padding: 100px 0;
}

#about .col-left{
width: 250px;
height: 360px;

}

#about .col-right{
width: 100%;
}

#about .col-right h2{
font-size: 2.5rem;
font-weight: 500;
letter-spacing: 0.1rem;
margin-bottom: 10px;
}

#about .col-right p{
font-size: 1.4rem;
margin-top: 5px;
line-height: 2.5rem;
font-weight: 300;
letter-spacing: 0.05;
margin-bottom: 20px;
text-align: center;

}

#about .col-right .cta{
margin-bottom: 50px;
padding: 10px 20px;
font-size: 2rem;
}

#about .col-left .about-img {
position: relative;
}

#about .col-left .about-img::after {
content: '';
position: absolute;
left: -33px;
top: 19px;
height: 98%;
width: 98%;
border: 7% deepskyblue;
z-index: -1;

}

/*End of About Section*/

/*Contact Section*/
#contact .contact{
flex-direction: column;
max-width: 1200px;
margin: 0 auto;
}

#contact .contact-items{
width: 500px;
}

#contact .contact-item{
width: 80%;
padding: 20px;
text-align: center;
border-radius: 10px;
padding: 30px;
margin: 30px;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 0px 18px 0 black;
flex-direction: column;
transition: 0.2s ease box-shadow;
}

#contact .contact-item:hover{
box-shadow: 0px 0px 5px 0 black;

}

#contact .icon {
width: 40px;
margin: 0 auto;
margin-bottom: 10px;
}

#contact .contact-info h1{
font-size: 1.5rem;
font-weight: 500;
margin-bottom: 5px;
}

#contact .contact-info h1{
font-size: 1.3rem;
line-height: 2rem;
font-weight: 500;
}
/*End of Contact Section*/

/*Footer*/
#footer{
background-color: #29323c;

}

#footer .footer{
min-height: 200px;
flex-direction: column;
padding-top: 50px;
padding-bottom: 10px;
}

#footer h2{
color: deepskyblue;
font-weight: 500;
font-size: 1.8rem;
letter-spacing: 0.3rem;
margin-top: 10px;
margin-bottom: 10px;

}

#footer .social-icon{
display: flex;
margin-bottom: 30px;

}

#footer .social-item{
height: 50px;
width: 50px;
margin-bottom: 0 5px;
}

#footer .social-item img{
filter: grayscale(1);
transition: 0.3s ease filter;
}

#footer .social-item:hover img{
filter: grayscale(0);

}

#footer p{
color: white;
font-size: 1.3rem;
}
 /*End of Footer*/

/*Key Frames*/ 
@keyframes text_reveal_box{
50%{
width: 100%;
left: 0;
}
100%{
width: 0;
left: 100%
}
}
@keyframes text_reveal{
100%{
color: deepskyblue;

}
}

/* Media Query for Tablet */
@media only screen and (min-width:768px){
.cta{
font-size: 3.5rem;
padding: 20px 60px;
}

h1.section-title{
font-size: 6rem;
}

/*Hero*/
#hero .hero container h1{
    font-size: 6rem;
    }

/*End of Hero*/

/*Service Section*/
#services .service-bottom .service-item{
    flex-basis: 45%;
    margin: 2.5%;
 
}


/*End of Service Section*/

/*Project */
#projects .project-item {
    flex-direction: row;
    }

#projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
}

#projects .all-projects .projects-info {
    height: 100%;
    font-size: 1rem;
}

#projects .all-projects .projects-img {
    height: 100%;
}

/*End of Project*/

/*About*/
#about .about {
    flex-direction: row;
}

#about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
}

#about .about .col-left .about-img::after{
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 3px solid lightblue;
}

#about .col-right{
    text-align:left;
    padding: 30px;
    

}
#about .col-right h1 {
    text-align: left;
    font-size: 3rem;

}

/*End of About*/

/*Contact*/

#contact .contact{
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;

}

#contact .contact-item {
    width: 100%;
    display: flexbox;
    flex-direction: row;
    margin: 3;
}

#contact .contact-items {
    margin: 20px;
    flex-direction: row;

}

#contact .contact-item .icon{
    height: 80px;
    width: 100px;

}

#contact .contact-item .icon img {
    object-fit: contain;

}

#contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}




}
/*End of Media Query for Tablet*/






